/* Game.css */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

.row {
  display: flex;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.player {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
